:root {
    --touchButtonsSize: 48px;
}

@font-face {
    font-family: Planes_ValMore;
    src: url("assets/tiles/Font/Planes_ValMore.ttf");
}

body {
    font-family: Planes_ValMore, serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f2f2f url(./assets/tiles/Background/Background.png) no-repeat;
    background-size: cover;
    overflow: hidden;
}

/*canvas*/

canvas {
    border: 8px solid #2f2f2f;
    border-radius: 16px;
    box-shadow: 1px 1px 4px 5px rgba(0, 0, 0, 0.46);
}

#canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    --size: 60;
    height: calc(9px * var(--size));
    width: calc(16px * var(--size));
}

#canvas div {
    display: flex !important;
    flex-direction: column;
    width: 100%;
    transform-origin: unset !important;
}

.dpNone {
    display: none !important;
}

/*main menu*/

.logo {
    background: url("./assets/UI/Logo.png") no-repeat;
    height: 192px;
    width: 424px !important;
    position: relative;
}

.logo p {

}

.logo p {
    position: absolute;
    color: white;
    top: 105px;
    width: 424px;
    text-align: center;
}

.menuDiv {
    height: 100%;
    background-image: url("./assets/tiles/Background/menuBackground.png");
    background-size: cover;
    transform: unset !important;
    border-radius: 4px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top button {
    all: unset;
    cursor: pointer;
}

/*pause menu*/

.top button:hover {
    opacity: 0.9;
}

.pauseDiv {
    height: 100%;
    transform: unset !important;
    position: relative;
}

.pauseMenu {
    width: 100%;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.topButton {
    justify-content: right;
}

.gameButton {
    cursor: pointer;
    display: flex;
    justify-content: end;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.gameButton:hover {
    opacity: 0.9;
}

.topButton img {
    width: 32px;
    cursor: pointer;
    margin: 8px;
}

.topButton img:hover {
    opacity: 0.9;
}

.buttons button {
    all: unset;
}

@media (max-width: 960px) {
    canvas {
        border-left: none;
        border-right: none;
        border-radius: 0;
    }

    #canvas {
        width: 100%;
        border-radius: 0;
    }

    .menuDiv {
        border-radius: 0;
    }

    /* buttons */
    .buttons button {
        all: unset;
        height: var(--touchButtonsSize) !important;
        width: var(--touchButtonsSize) !important;
        position: absolute !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        cursor: pointer !important;
        -webkit-tap-highlight-color: transparent;
        -moz-tap-highlight-color: transparent;
        -ms-tap-highlight-color: transparent;
        tap-highlight-color: transparent;
        outline: none;
    }

    .buttons button:hover {
        opacity: 0.8 !important;
    }

    .arrowLeft {
        background-image: url("./assets/UI/arrowLeft.png") !important;
        bottom: 8px !important;
        left: 8px !important;
    }

    .arrowRight {
        background-image: url("./assets/UI/arrowRight.png") !important;
        bottom: 8px !important;
        left: 96px !important;
    }

    .arrowUp {
        background-image: url("./assets/UI/arrowUp.png") !important;
        bottom: 8px !important;
        right: 8px !important;
    }

    .stoneButton {
        background-image: url("./assets/UI/attack.png") !important;
        bottom: 8px !important;
        right: 96px !important;
    }
}

@media (max-height: 540px) {
    canvas {
        border-top: none;
        border-bottom: none;
        border-radius: 0;
    }

    #canvas {
        height: 100vh;
        border-radius: 0;
    }

    .menuDiv {
        border-radius: 0;
    }
}