@font-face {
    font-family: Planes_ValMore;
    src: url("assets/tiles/Font/Planes_ValMore.ttf");
}

body {
    font-family: Planes_ValMore, serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f2f2f url(./assets/tiles/Background/Background.png) no-repeat;
    background-size: cover;
}

canvas {
    border: 8px solid #2f2f2f;
    border-radius: 16px;
    box-shadow: 1px 1px 4px 5px rgba(0, 0, 0, 0.46);
}

#canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    --size: 60;
    height: calc(9px * var(--size));
    width: calc(16px * var(--size));
}

#canvas div {
    display: flex !important;
    flex-direction: column;
    width: 100%;
    transform-origin: unset !important;
}

.dpNone {
    display: none !important;
}

.logo {
    background: url("./assets/UI/Logo.png") no-repeat;
    height: 192px;
    width: 424px !important;
    position: relative;
}

.logo p {
    position: absolute;
    color: white;
    left: 110px;
    top: 105px;
}

.menuDiv {
    height: 100%;
    background-image: url("./assets/tiles/Background/menuBackground.png");
    background-size: cover;
    transform: unset !important;
    border-radius: 4px;
}

.test {
    height: 30px;
    width: 30px;
    background-color: black;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top button {
    all: unset;
    cursor: pointer;
}

.top button:hover {
    opacity: 0.9;
}

.pauseDiv {
    height: 100%;
    transform: unset !important;
    position: relative;
}

.pauseMenu {
    width: 100%;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.topButton {
    justify-content: right;
}

.gameButton {
    cursor: pointer;
    display: flex;
    justify-content: end;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.gameButton:hover {
    opacity: 0.9;
}

.topButton img {
    width: 32px;
    cursor: pointer;
    margin: 8px;
}

.topButton img:hover {
    opacity: 0.9;
}

