body {
    background: #2f2f2f;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/tiles/Background/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#border{
    border: 12px solid #2f2f2f;
}

#canvas{
    display: flex;
    align-items: center;
    justify-content: center;
    --size: 40;
    height: calc(9px * var(--size));
    width: calc(16px * var(--size));
}